html,
body {
    margin: 0;
    padding: 0;
}

body {
    padding: 15px;
    background: #f2f3f5;
}

.layui-form .layui-form-item:nth-child(3) {
    padding-left: 40px;
}

.layui-form .layui-form-item:nth-child(3) .layui-input-block {
    margin-left: 72px;
}

.cover-box {
    display: flex;
}

.cover-left {
    width: 400px;
    height: 280px;
    overflow: hidden;
    margin-right: 20px;
}

.cover-right {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.img-preview {
    width: 200px;
    height: 140px;
    background-color: #ccc;
    margin-bottom: 20px;
    overflow: hidden;
}